
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.docker/*.pem
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
jwt/*.pem
###< lexik/jwt-authentication-bundle ###
